<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.bigdata.spark.core.SparkNodeFactoryProvider">
      <SparkNodeFactoryProvider
            ProviderClass="org.knime.bigdata.spark.dx.node.DxSparkNodeFactoryProvider">
      </SparkNodeFactoryProvider>
   </extension>
</plugin>
