<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.bigdata.spark.core.JobRunFactoryProvider">
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.unpivot.UnpivotJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.sql.multiquery.MultiQueryJobRunFactoryProvider">
      </JobRunFactoryProvider>
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.sql.expression.ExpressionJobRunFactoryProvider">
      </JobRunFactoryProvider>
   </extension>
   <extension point="org.knime.bigdata.spark.core.SparkJarProvider">
      <SparkJarProvider
            ProviderClass="org.knime.bigdata.spark3_4.dx.jobs.preproc.unpivot.DxSpark34JarProvider">
      </SparkJarProvider>
   </extension>
</plugin>
